

#principal{
    background-image: url(../img/fundo2.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

}
section{
    margin: 3em 1em;
    padding-top: 20px;
    width: 20px 20em;


}
    
.cadastro{
    border: solid rgb(15, 14, 14);
    width: 440px;
    height: 550px;
    border-radius: 10%;
    margin-top: 20px;
    box-shadow: 4px 4px 4px;
    display: inline-block;
}
.item1{
    
    display: inline-block;
    margin: 40px;
    border: solid red;
}


.item2 {
    width: 440px;
    height: 322px;
    display: block;
}

.titulo{
    font-size: 26px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-sizing: content-box;
}
.container-cadastro{
    display: inline-block;
}

label{
    padding: 10px;
}

.informacoes {
    margin: 1em;
}

.informacoesSenha {
    margin: 2em;
}


.form-group  {
    display: flex;
    justify-content: center;
}

.primeiro  {
    font-weight: bold;
    margin-top: 60px;
    position: relative;
    bottom: 2em;
    }


.form-check input, label{
    display: inline;
    font-weight: bold;
    margin-top: 2px;
    
}


.botao-login {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    transition: all 0.4s;
}

.botao-login:hover{
    -webkit-filter: blur(1px);
    filter:blur(1px);
    font-weight: bold;
    
}

.navbar{
 
    background-color: rgb(67, 186, 207);
    opacity: 0.9;
    position: fixed;
}

main{
    background-color: aliceblue;
    border: solid rgb(41, 40, 40);
}

.viaje-mundo{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-weight: bolder;
}

.nav-link{
    transition: all .5s;
    font-weight: bold;
}

.nav-link:hover{
    border: 10px solid #781f40;
    border-radius: 50%;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    -webkit-transform: rotateZ(-360deg) scale(1.5);
    transform: rotateZ(-360deg) scale(1.5);
    border-radius: 10%;
   border: solid 1px rgb(36,172,215);
}

.carousel-item{
    width: 30em;
    height: 30em;
}

.public-1{
 width: 30em;
 height: 30em;
 margin: 1em ;
 display: flex;
 justify-content: end;

}

.public-2{
    width: 30em;
    height: 30em;
    margin: 1em ;
  
    
   }

.public-3{
    width: 30em;
    height: 30em;
    margin: 1em;
    
   }
   .d-block {
    width: 30em;
   }

   .dados-viagens{
    border: solid white;
    background-color: rgb(118, 235, 118);
    opacity: 0.9;
    border-radius: 10px;
   }